<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="true"/>
    <gcAllowVeryLargeObjects enabled="true"/>
    <Thread_UseAllCpuGroups enabled="true"/>
    <GCHeapCount value="16"/>
    <GCNoAffinitize enabled="false"/>
    <GCRetainVM enabled="true"/>
  </runtime>
</configuration> 